*{
    box-sizing : border-box;
    margin:0;
    padding:0;
}

body{
    
    font-family:'monotype-corsiva-regular', sans-serif ;
    /*opacity: 0.75;*/
    background : url(./imagenes/fondo\ spa1.jpg) center;
    
    
}
.container{
    margin: auto;
    
}
.container-card{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    /*flex-wrap: wrap;*/
    margin: auto;
    background-color: floralwhite;
    opacity: 0.75;
    
    
}
.container .container-card .card img{
    width: 300px ;
    height: 300px;
    border-radius: 8px;
    margin: 20px;
    margin-top: 65px;
    border-color: blueviolet;
    border-style: double;
    
   
    

}
ul{
    list-style: none;
    
    
}
.nav-menu1>li>a
{
    text-decoration: none;
    color:black ;
    font-size:large;
    font-style: italic;
}
.nav-menu2>li>a
{
    text-decoration: none;
    color:black;
    font-size: large;
}
.nav-menu3>li>a
{
    text-decoration: none;
    color:black ;
    font-size: large;
}
.nav-menu4>li>a
{
    text-decoration: none;
    color:black ;
    font-size: large;
}
.nav-menu5>li>a
{
    text-decoration: none;
    color:black ;
    font-size: large;
}
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    

}

h1 {
    font-family:'monotype-corsiva-regular', sans-serif ;
    opacity: 0.65;
    line-height: 2cm;
    font: black;
    background-color: floralwhite;
    text-align: center;
}
footer{
text-align: center;
background-color:green;
opacity: 0.75;
margin-top: 70px;


}

